```ini
# Backend Configuration
DATA_VIZ_APP_PORT=18080
DATA_VIZ_LOG_LEVEL=info # debug, info, warn, error, critical

# Database Configuration
DATA_VIZ_DB_HOST=localhost
DATA_VIZ_DB_PORT=5432
DATA_VIZ_DB_USER=dataviz_user
DATA_VIZ_DB_PASSWORD=dataviz_password
DATA_VIZ_DB_NAME=dataviz_db

# JWT Secret (MUST be strong and kept secret in production)
DATA_VIZ_JWT_SECRET="your_super_secret_jwt_key_please_change_in_production_1234567890"

# Data storage path (relative to executable or absolute path in container)
DATA_VIZ_STORAGE_PATH=./assets/datasets
```