<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Register - ALX Scraper</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">Register</div>
                <div class="card-body">
                    <form th:action="@{/register}" th:object="${userDTO}" method="post">
                        <div class="mb-3">
                            <label for="reg-username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="reg-username" th:field="*{username}" required>
                            <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
                        </div>
                        <div class="mb-3">
                            <label for="reg-password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="reg-password" th:field="*{password}" required>
                            <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                    <p class="mt-3">Already have an account? <a th:href="@{/login}">Login here</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
```

#### `src/main/resources/templates/dashboard.html`

```html