Flask==2.3.2
Flask-SQLAlchemy==3.0.4
SQLAlchemy==2.0.21
psycopg2-binary==2.9.7  # PostgreSQL adapter
pytest==7.4.0
coverage==7.0.1
requests==2.31.0 #for testing
python-dotenv==1.0.0
marshmallow==3.21.0  # For serialization/deserialization
redis==4.6.0 #for caching
Flask-Caching==1.11.1
Flask-Limiter==1.2.1