NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://user:password@localhost:5432/taskdb?schema=public"

JWT_SECRET="supersecretjwtkey"
JWT_EXPIRES_IN="1h"

REDIS_URL="redis://localhost:6379"

# Caching duration in seconds
CACHE_TTL_USERS=300
CACHE_TTL_PROJECTS=60
CACHE_TTL_TASKS=30